* {
    box-sizing:border-box;margin:0;padding:0
    
}

body {
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    margin: 0;

}

.banner {
    background-color: #8F64E9;
    height: 60vh;
    padding-top: 120px;  
    
}


.header-wrapper {
    position: fixed;
    top: 0; left: 11rem; right: 11rem; 
    margin-top: 2.5rem;
    display: flex;
    height: 8vh;
    font-family: sans-serif;
    border-radius: 5rem;          
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.nav {
     list-style-type: none;   
    margin: 0;
    padding: 0;
    display: flex;           
    gap: 1rem; 
    cursor: pointer;            
}

.nav li:first-child {
    color: pink;
}

.nav li {
    padding: 0.5rem 1rem;
    
}

.nav li:first-child:hover{background-color: white;
}

.nav li:hover{
    background-color:#ff589e;                  
    transition: all 0.2s ease;

}

.banner h3{
    font-size: 1.5rem;
    padding: 4.5rem 40rem;
    color: white;
    margin-top: -1rem;
}

.banner p, center{
    font-size: 1rem;
    padding: 0rem 32.5rem;
    color: white;
}

.banner button {
    background-color: #ff589e;
    color: white;
    border-radius: 5rem;
    padding: 1rem 2rem;          
    cursor: pointer;
    margin-top: 2rem; 
    margin-left: 44rem;           
}

button:hover {
    background-color: #8F64E9;                  
    transition: all 0.2s ease;   
}

*::after {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 25px;


}

.card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    overflow: hidden;
    width: 400px;
    text-align: center;
    padding: 0rem 5rem;
    margin-top: -1rem;

}

.card-img { 
    width: 45%; 
    height: auto;
    cursor: pointer;
}

.card-img:hover{
    background-color:#ff589e;                  
    transition: all 0.2s ease;
}

.card-body { padding: 20px; }

.card-title {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 8px;
}

.end img{
    width: 19%; height: auto;
    margin-left: 19rem;
    margin-top: 5rem;
}

.end h2{
    margin-left: 50rem;
    margin-top: -15rem;
}

.end p{
margin-left: 50rem;
    margin-top: 1rem;
}
